html {
    font-family: Arial;
    display: inline-block;
    text-align: center;
    margin: 0px auto;
}

h1 {
    color: #0F3376;
}


.sensor {
    font-size: 1.5rem;
    margin: 15px;
}

#sensorValue {
    display: inline;
    font-weight: bold;
}

/* Button */

.button {
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    margin-top: 20px;
    width: 200px;

    padding: 10px;
    font-size: 25px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.383);
}

.button:active {
    background-color: #58257b;
    transform: translateY(4px);
}

.buttonOn {
    background-color: #008CBA;
    padding: 15px 50px;
}

.buttonOff {
    background-color: #f44336;
    padding: 15px 50px;
}

.buttonReverse {
    background-color: #aeba00;
    padding: 15px 20px;
}

.buttonSpeed {
    background-color: #f436a5;
    padding: 15px 20px;
}

/* Slider */
.slidecontainer {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}

.slider {
    margin-top: 20px;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #01920d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

/* speed */
.slidecontainer label {
    font-size: 25px;
}

.slidecontainer span {
    font-size: 25px;
    font-weight: bold;
}