html {
    font-family: Arial;
    display: inline-block;
    text-align: center;
    margin: 0px auto;
}

h1 {
    color: #0F3376;
}


.sensor {
    font-size: 1.5rem;
    margin: 15px;
}

#sensorValue {
    display: inline;
    font-weight: bold;
}

.button {
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    margin-top: 20px;
    width: 200px;

    padding: 10px;
    font-size: 25px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.383);
}

.button:active {
    background-color: #58257b;
    transform: translateY(4px);
}

.buttonOn {
    background-color: #008CBA;
    padding: 15px 50px;
}

.buttonOff {
    background-color: #f44336;
    padding: 15px 50px;
}

.buttonReverse {
    background-color: #aeba00;
    padding: 15px 20px;
}

.buttonSpeed {
    background-color: #f436a5;
    padding: 15px 20px;
}